---
name: Menu
description: Menu for Static and Mobile Sidebar
variables:
    navigation:
        - data
---

{% for item in navigation %}
    {% if item.first %}
        <div class="px-2 space-y-1">
    {% else %}
        <div class="mt-6 pt-6">
    {% endif %}
        {% for navItem in item.children %}
            {% unless navItem.group %}
                <a href="{{ navItem.link }}" name="navigation" class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-800 dark:text-gray-100 hover:text-white hover:bg-purple-500" aria-current="page">
                    {% if navItem.icon == "home" %}
                        {% render "icons/home", classNames: "mr-4 h-6 w-6 text-gray-800 dark:text-gray-100 group-hover:text-gray-50" %}
                    {% elsif navItem.icon == "question-mark-circle" %}
                        {% render "icons/question_mark_circle", classNames: "mr-4 h-6 w-6 text-gray-800 dark:text-gray-100 group-hover:text-gray-50" %}
                    {% elsif navItem.icon == "document-text" %}
                        {% render "icons/document_text", classNames: "mr-4 h-6 w-6 text-gray-800 dark:text-gray-100 group-hover:text-gray-50" %}
                    {% elsif navItem.icon == "shield-check" %}
                        {% render "icons/shield_check", classNames: "mr-4 h-6 w-6 text-gray-800 dark:text-gray-100 group-hover:text-gray-50" %}
                    {% endif %}
                    {{ navItem.name }}
                </a>
            {% else %}
                <div class="space-y-1 pt-6">
                    <h3 class="group flex items-center px-2 text-xs font-semibold text-white dark:text-gray-200 uppercase tracking-wider" id="projects-headline">
                        {{ navItem.name }}
                        {% if navItem.icon == "rubygems" %}
                            <img class="ml-2 h-4 w-4" src="/assets/images/icons/rubygems.svg"/>
                        {% elsif navItem.icon == "nodejs" %}
                            <img class="ml-2 h-4 w-4" src="/assets/images/icons/nodejs.svg"/>
                        {% endif %}
                    </h3>

                    {% for groupNavItem in navItem.children %}
                        <a href="{{ groupNavItem.link }}" name="navigation" class="group flex items-center px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-800 dark:text-gray-100 hover:text-white hover:bg-purple-500">
                            {% if groupNavItem.icon == "rubocop" %}
                                <img class="mr-4 h-6 w-6 block dark:hidden" src="/assets/images/icons/rubocop.svg"/>
                                <img class="mr-4 h-6 w-6 hidden dark:block" src="/assets/images/icons/rubocop_white.svg"/>
                            {% elsif groupNavItem.icon == "npm" %}
                                <img class="mr-4 h-6 w-6" src="/assets/images/icons/npm.svg"/>
                            {% endif %}
                            {{ groupNavItem.name }}
                        </a>
                    {% endfor %}
                </div>
            {% endunless %}
        {% endfor %}
    </div>
{% endfor %}