---
name: Input Textarea
description: Input Textarea Field
variables:
    uniqueName:
        - string
    defaultValue:
        - string
    extraDetails:
        - string
---

<div class="flex items-start mt-2">
    <div class="flex items-center h-5">
        {% if defaultValue == "true" %}
            <input id="{{ uniqueName }}" name="{{ uniqueName }}" type="checkbox" checked class="focus:ring-purple-500 dark:focus:ring-offset-gray-800 h-4 w-4 text-purple-600 border-gray-300 rounded cursor-pointer dark:bg-gray-600 dark:border-gray-500">
        {% else %}
            <input id="{{ uniqueName }}" name="{{ uniqueName }}" type="checkbox" class="focus:ring-purple-500 dark:focus:ring-offset-gray-800 h-4 w-4 text-purple-600 border-gray-300 rounded cursor-pointer dark:bg-gray-600 dark:border-gray-500">
        {% endif %}
    </div>
    <div class="ml-3 text-sm">
        <p class="text-gray-600 dark:text-gray-200">{{ extraDetails }}</p>
    </div>
</div>