---
name: Tab
description: Tab item for generators.
variables:
    title:
        - string
    id:
        - string
    details:
        - string
    first:
        - boolean
    last:
        - boolean
    fields:
        - data
    index:
        - number
    labels:
        - data
---

{% unless first %}
    {% assign classNames = 'hidden' %}
{% endunless %}

<div class="{{ classNames }} divide-y divide-gray-200" data-tabs-target="panel" id="{{ id }}-panel">
    <div class="py-6 px-4 sm:p-6 lg:pb-8">
        <div>
            <h2 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-50">{{ title }}</h2>
            <p class="mt-1 text-sm text-gray-500 dark:text-gray-300">
                {{ details }}
            </p>
        </div>

        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
            {% for field in fields %}
                {% render "forms/core", name: field.name, uniqueName: field.uniqueName, required: field.required, defaultValue: field.defaultValue, fieldType: field.fieldType, extraDetails: field.extraDetails, fieldSize: field.fieldSize, gridSize: field.gridSize, fields: field.fields %}
            {% endfor %}
        </div>
    </div>

    <div class="mt-4 py-4 px-4 flex justify-between">
        {% unless first %}
            <button type="button" data-action="click->tabs#change" data-index="{{ index | minus: 1 }}"
                class="bg-white dark:bg-gray-600 border border-gray-300 dark:border-gray-800 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 dark:text-gray-50 hover:bg-gray-200 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                {% svg "assets/images/heroicons/outline/arrow-left.svg", class="h-5 w-5 mr-2" %}
                {{ labels.back_btn_label }}
            </button>
        {% else %}
            <span>&nbsp;</span>
        {% endunless %}
        {% unless last %}
            <button type="button" data-action="click->tabs#change" data-index="{{ index | plus: 1 }}"
                class="ml-5 bg-purple-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                {{ labels.next_btn_label }}
                {% svg "assets/images/heroicons/outline/arrow-right.svg", class="h-5 w-5 ml-2" %}
            </button>
        {% endunless %}
    </div>
</div>