---
layout: default
---


<div class="bg-white dark:bg-gray-800 shadow border-l border-gray-100 dark:border-gray-900">
    <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
        <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-300 dark:lg:border-gray-200">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-800 dark:text-gray-100 sm:text-3xl sm:truncate">
                    {{ site.metadata.home.title }}
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="min-w-0 w-full flex-auto lg:static lg:max-h-full lg:overflow-visible">
    <div class="px-4 sm:px-6 xl:px-8 pt-5 pb-16">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 xl:gap-8">
            {% render "cards/banner", labels: site.metadata %}

            {% for item in site.data.groups.generators %}
                {% render "cards/featured_card", name: item.name, details: item.details, uniqueName: item.unique_name, fromColor: item.color_from, toColor: item.color_to, color: item.color, btnName: item.btn, img: item.img, children: item.children %}
            {% endfor %}
        </div>
        <section>
            <header>
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 mt-16 mb-8">
                    {{ site.metadata.home.available }}
                </h2>
            </header>
            <ul class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6 xl:gap-8 font-semibold text-gray-900 dark:text-gray-50 text-center">
                {% for item in site.data.featured.generators %}
                    {% render "cards/logo", name: item.name, logo: item.logo, link: item.link, status: item.status, hasStatus: true %}
                {% endfor %}
            </ul>
        </section>
        <section>
            <header class="flex items-center justify-between mt-16 mb-8">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50">
                    {{ site.metadata.home.updates }}
                </h2>
                <a href="{{ site.metadata.home.btn_link }}" class="font-medium text-gray-900 dark:text-gray-50">
                    {{ site.metadata.home.btn }}
                </a>
            </header>
            <ul class="bg-gray-50 dark:bg-gray-800 shadow-lg rounded-3xl p-2 sm:p-5 xl:p-6">
                {% for item in site.data.updates.timeline %}
                    {% render "cards/timeline", name: item.name, details: item.details, link: item.link, date: item.date, datetime: item.datetime, location: item.location %}
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
<div>
    {{ content }}
</div>