---
name: Footer
description: Footer section
variables:
    labels:
        - data
---

<footer class="bg-white dark:bg-black flex-1">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2" data-controller="popover">
            <a href="{{ labels.twitter }}" class="text-gray-400 dark:text-gray-100 hover:text-light-blue-400 relative" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut" data-popover-target="twitter">
                <span class="sr-only">Twitter</span>
                {% svg "/assets/images/social-media/twitter.svg" class="h-6 w-6" %}
                <span data-popover-name="twitter" class="hidden right-4 bottom-4 p-2 absolute z-50 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
                    {{ labels.footer.twitter_tooltip }}
                </span>
            </a>

            <a href="{{ labels.github }}" class="text-gray-400 dark:text-gray-100 hover:text-black dark:hover:text-white relative" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut" data-popover-target="github">
                <span class="sr-only">GitHub</span>
                {% svg "/assets/images/social-media/github.svg" class="h-6 w-6" %}
                <span data-popover-name="github" class="hidden right-4 bottom-4 p-2 absolute z-50 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
                    {{ labels.footer.github_tooltip }}
                </span>
            </a>

            <a href="{{ labels.discord }}" class="text-gray-400 dark:text-gray-100 hover:text-indigo-400 relative" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut" data-popover-target="discord">
                <span class="sr-only">Discord</span>
                {% svg "/assets/images/social-media/discord.svg" class="h-6 w-6" %}
                <span data-popover-name="discord" class="hidden right-4 bottom-4 p-2 absolute z-50 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
                    {{ labels.footer.discord_tooltip }}
                </span>
            </a>
        </div>
        <div class="mt-8 md:mt-0 md:order-1">
            <p class="text-center text-base text-gray-400 dark:text-gray-100">
                {{ labels.copyright }}
            </p>
        </div>
    </div>
</footer>