---
name: Social Media Icons
description: Social Media Icons section
variables:
    labels:
        - data
    classes:
        - string
---

<div class="{{ classes }}">
    <a href="{{ labels.twitter }}" class="text-gray-800 dark:text-gray-100 hover:text-light-blue-400 dark:hover:text-light-blue-400 relative"
        data-controller="popover" data-popover-hide-class="hidden" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut">
        <span class="sr-only">Twitter</span>
        {% svg "/assets/images/social-media/twitter.svg" class="h-6 w-6" %}
        <span data-popover-target="content" class="hidden left-2 bottom-4 p-2 absolute z-100 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
            {{ labels.footer.twitter_tooltip }}
        </span>
    </a>

    <a href="{{ labels.github }}" class="text-gray-800 dark:text-gray-100 hover:text-white dark:hover:text-black relative"
        data-controller="popover" data-popover-hide-class="hidden" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut">
        <span class="sr-only">GitHub</span>
        {% svg "/assets/images/social-media/github.svg" class="h-6 w-6" %}
        <span data-popover-target="content" class="hidden left-2 bottom-4 p-2 absolute z-100 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
            {{ labels.footer.github_tooltip }}
        </span>
    </a>

    <a href="{{ labels.discord }}" class="text-gray-800 dark:text-gray-100 hover:text-indigo-400 dark:hover:text-indigo-400 relative"
        data-controller="popover" data-popover-hide-class="hidden" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut">
        <span class="sr-only">Discord</span>
        {% svg "/assets/images/social-media/discord.svg" class="h-6 w-6" %}
        <span data-popover-target="content" class="hidden left-2 bottom-4 p-2 absolute z-100 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
            {{ labels.footer.discord_tooltip }}
        </span>
    </a>

    <a href="{{ labels.youtube }}" class="text-gray-800 dark:text-gray-100 hover:text-red-600 dark:hover:text-red-600 relative"
        data-controller="popover" data-popover-hide-class="hidden" data-action="mouseover->popover#mouseOver mouseout->popover#mouseOut">
        <span class="sr-only">YouTube</span>
        {% svg "/assets/images/social-media/youtube.svg" class="h-6 w-6" %}
        <span data-popover-target="content" class="hidden left-2 bottom-4 p-2 absolute z-100 ml-4 text-sm rounded-lg bg-purple-600 text-white w-max">
            {{ labels.footer.youtube_tooltip }}
        </span>
    </a>
</div>